In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#create path to csv file
csv_path = "Resources/purchase_data.csv"

#import csv file as data frame
heros_raw_df = pd.read_csv(csv_path)
heros_raw_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#player count: Total number of players
player_count = len((heros_raw_df["SN"]).unique())

player_count

576

In [4]:
#purchase analysis(total)
#Number of unique items

Unique_Items = len((heros_raw_df["Item Name"]).unique())

Unique_Items

179

In [5]:
#Total Revenue
total_purchases = sum(heros_raw_df["Price"])
total_purchases

#Total Number of Purchases
Purchase_count = len(heros_raw_df["Price"])
Purchase_count

#Average Purchase Price
Ave_PPrice = total_purchases/Purchase_count
Ave_PPrice

3.050987179487176

In [7]:
#Gender Demographics
#group dataframe by gender
Hero_Gender_group = heros_raw_df.groupby(["Gender"]).count()
Hero_Gender_group.head()

#Percentage and Count of Male Players
#Count_Males = (Hero_Gender_group["Gender"] == "Male")
#Count_Males.count()


#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [ ]:
#