In [2]:
#Import Dependencies
import pandas as pd

In [3]:
#create path to csv file
csv_path = "Resources/purchase_data.csv"

#import csv file as data frame
heros_raw_df = pd.read_csv(csv_path)
heros_raw_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

        Player Count

>Total Number of Players

In [4]:
#player count: Total number of players
player_count = [len((heros_raw_df["SN"]).unique())]
player_count

#create dataframe output
Total_Players = pd.DataFrame({"Total Players":player_count})
Total_Players

   Total Players
0            576

    Purchasing Analysis (Total)

>Number of Unique Items
>Average Purchase Price
>Total Number of Purchases
>Total Revenue

In [5]:
#purchase analysis(total)
#Number of unique items

Unique_Items = [len((heros_raw_df["Item Name"]).unique())]
Unique_Items

#Total Revenue
total_purchases = [sum(heros_raw_df["Price"])]


#Total Number of Purchases
Purchase_count = [len(heros_raw_df["Price"])]


#Average Purchase Price
Ave_PPrice = [sum(heros_raw_df["Price"])/len(heros_raw_df["Price"])]

#create dataframe for output
Purchase_Analysis = pd.DataFrame({
                                "Num Unique Items": Unique_Items,
                                "Average Price": Ave_PPrice,
                                "Number of Purchases": Purchase_count,
                                "Total Revenue": total_purchases})
Purchase_Analysis['Average Price'] = Purchase_Analysis['Average Price'].map("${0:,.2f}".format)
Purchase_Analysis['Total Revenue'] = Purchase_Analysis['Total Revenue'].map("${0:,.2f}".format)
Purchase_Analysis

   Num Unique Items Average Price  Number of Purchases Total Revenue
0               179         $3.05                  780     $2,379.77

         Gender Demographics

>Percentage and Count of Male Players

>Percentage and Count of Female Players

>Percentage and Count of Other / Non-Disclosed

In [6]:
#Group by gender and unique user names
SN_Group = heros_raw_df.groupby(["Gender"])["SN"].unique()

#count unique SN who are male
Male_SN = len(SN_Group['Male'])
Male_SN

#count unique SN who are female
Female_SN = len(SN_Group['Female'])
Female_SN

#count unique SN who are Other / Non-Disclosed
Other_SN = len(SN_Group['Other / Non-Disclosed'])
Other_SN

Total_UN = Male_SN + Female_SN + Other_SN

Pct_Female = (Female_SN/Total_UN)*100
Pct_Male = (Male_SN/Total_UN)*100
Pct_Other = (Other_SN/Total_UN)*100

#Create dataframe of output
Demo_group = heros_raw_df.groupby(["Gender"]).count()
Demo_group["Total Count"] = [Male_SN,Female_SN,Other_SN]
Demo_group["Percentage of Players"] = [Pct_Male,Pct_Female,Pct_Other]

Demo_group['Percentage of Players'] = Demo_group['Percentage of Players'].map("{0:,.2f}%".format)

Demo_group[["Total Count","Percentage of Players"]].head()

                       Total Count Percentage of Players
Gender
Female                         484                84.03%
Male                            81                14.06%
Other / Non-Disclosed           11                 1.91%

        Purchasing Analysis (Gender)

The below each broken by gender

>Purchase Count

>Average Purchase Price

>Total Purchase Value

>Average Purchase Total per Person by Gender

In [7]:
#Gender Demographics
#group dataframe by gender
Hero_Gender_group = heros_raw_df.groupby(["Gender"]).count()


#Percentage and Count of Male Players
male = heros_raw_df["Gender"].value_counts()['Male']


#Percentage and Count of Female Players
female = heros_raw_df["Gender"].value_counts()['Female']


#Percentage and Count of Other / Non-Disclosed
other = heros_raw_df["Gender"].value_counts()['Other / Non-Disclosed']

#add purchase count column
Hero_Gender_group["Purchase Count"] = [female, male, other]

#average purchase price per gender
Ave_Price = heros_raw_df.groupby(['Gender']).agg({'Price': ['mean']})
Hero_Gender_group["Average Purchase Price"] = Ave_Price

#Total Purchase Value
Tot_Purchase = heros_raw_df.groupby(['Gender']).agg({'Price': ['sum']})
Hero_Gender_group["Total Purchase Value"] = Tot_Purchase

Hero_Gender_group['Average Purchase Price'] = Hero_Gender_group['Average Purchase Price'].map("${0:,.2f}".format)
Hero_Gender_group['Total Purchase Value'] = Hero_Gender_group['Total Purchase Value'].map("${0:,.2f}".format)

Hero_Gender_group[['Purchase Count','Average Purchase Price','Total Purchase Value']]

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19

#  Age Demographics
 
Establish bins for ages


Categorize the existing players using the age bins. Hint: use pd.cut()


Calculate the numbers and percentages by age group


Create a summary data frame to hold the results


Optional: round the percentage column to two decimal points


Display Age Demographics Table

In [8]:
#Drop duplicate users from original database
Age_Demo_UniqueSN = heros_raw_df.drop_duplicates(subset=["SN"])

#create bins for ages
Age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

#labels for each of the bins
Age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#group by age
Age_df = Age_Demo_UniqueSN.groupby(pd.cut(Age_Demo_UniqueSN['Age'], Age_bins, labels=Age_labels)).count()

#copy data frame to manipulate columns
Age_df2 = Age_df[["Purchase ID"]].copy()

#sum of the values in the df
Total_IDs  = Age_df2.sum()

#Percentage Players by group
Pct_Total = (Age_df2.divide(Total_IDs))*100

#add percentage players to dataframe
Age_df2["Percentage of Players"] = Pct_Total
Age_df2

#rename purchase ID column to total count
Age_df2.rename(columns={"Purchase ID": "Total Count"})

#format % players
Age_df2['Percentage of Players'] = Age_df2['Percentage of Players'].map("{0:,.2f}%".format)
Age_df2

       Purchase ID Percentage of Players
Age
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

         Purchasing Analysis (Age)
 
    >Bin the purchase_data data frame by age

    >Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


    >Create a summary data frame to hold the results


    >Optional: give the displayed data cleaner formatting


    >Display the summary data frame

In [9]:
#group dataframe by age bins with duplicate sn
Purchase_df = heros_raw_df.groupby(pd.cut(heros_raw_df['Age'], Age_bins, labels=Age_labels)).count()

#copy data frame to manipulate columns
Purchase_df2 = Purchase_df[["Purchase ID"]].copy()


#find average purchage price by age groups
Ave_purchase = heros_raw_df.groupby(pd.cut(heros_raw_df['Age'], Age_bins, labels=Age_labels)).mean()
Ave_purchase2 = Ave_purchase[["Price"]].copy()
Ave_purchase2

#Total purchase value by age groups
Total_Purchase = heros_raw_df.groupby(pd.cut(heros_raw_df['Age'], Age_bins, labels=Age_labels)).sum()
Total_Purchase2 = Total_Purchase[["Price"]].copy()


Total_Buyers = Age_df2[["Purchase ID"]].copy()

#add percentage players to dataframe
Purchase_df2["Average Purchase Price"] = Ave_purchase2
Purchase_df2["Total Purchase Value"] = Total_Purchase2
Purchase_df2["Total Buyers"] = Total_Buyers
Purchase_df2

# Avg_Person = Total_Purchase2/Total_Buyers
Purchase_df2["Avg Total Purchase per Person"] = Purchase_df2["Total Purchase Value"]/Purchase_df2["Total Buyers"]
Purchase_df2

#remove unnessecary column for summary
Summary_Age = Purchase_df2.drop(["Total Buyers"], axis=1)

#format for dollars
Summary_Age['Average Purchase Price'] = Summary_Age['Average Purchase Price'].map("${0:,.2f}".format)
Summary_Age['Total Purchase Value'] = Summary_Age['Total Purchase Value'].map("${0:,.2f}".format)
Summary_Age['Avg Total Purchase per Person'] = Summary_Age['Avg Total Purchase per Person'].map("${0:,.2f}".format)

#display
Summary_Age

,Purchase ID,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

         Top Spenders
 
    >Run basic calculations to obtain the results in the table below
    >Create a summary data frame to hold the results
    >Sort the total purchase value column in descending order
    >Optional: give the displayed data cleaner formatting
    >Display a preview of the summary data frame

In [57]:
#group original data by user ids
UniqueSN = heros_raw_df.groupby(['SN'])
UniqueSN.describe()

#list of user ids sorted alphabetically
SN_List = sorted(heros_raw_df["SN"].unique())

#Number of purchases grouped by SN
Purchase_Count = UniqueSN["Purchase ID"].count()
Purchase_Count

#aver purchase price grouped by SN
TS_Ave_Price = UniqueSN["Price"].mean()
TS_Ave_Price

#total purchases grouped by SN
TS_TPurchase = UniqueSN["Price"].sum()
TS_TPurchase

#Created dataframe using lists
Top_Spender = pd.DataFrame(list(zip(SN_List, Purchase_Count, TS_Ave_Price,TS_TPurchase )),
               columns =['SN', 'Purchase Count', 'Average Purchase Price', 'Total Purchase Value'])

#set user names to the index
Top_Spender_new = Top_Spender.set_index('SN')
Top_Spender_new

#sort dataframe by total purchase value
Top_Spender_new2 = Top_Spender_new.sort_values(by=['Total Purchase Value'], ascending=False)

#format dollars for ave purchase price and total purchase value
Top_Spender_new2['Average Purchase Price'] = Top_Spender_new2['Average Purchase Price'].map("${0:,.2f}".format)
Top_Spender_new2['Total Purchase Value'] = Top_Spender_new2['Total Purchase Value'].map("${0:,.2f}".format)

#show data frame of summary
Top_Spender_new2.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

         Most Popular Items
 
    >Retrieve the Item ID, Item Name, and Item Price columns
    >Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
    >Create a summary data frame to hold the results
    >Sort the purchase count column in descending order
    >Optional: give the displayed data cleaner formatting
    >Display a preview of the summary data frame