In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#create path to csv file
csv_path = "Resources/purchase_data.csv"

#import csv file as data frame
heros_raw_df = pd.read_csv(csv_path)
heros_raw_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count

Total Number of Players

In [3]:
#player count: Total number of players
player_count = [len((heros_raw_df["SN"]).unique())]
player_count

#create dataframe output
Total_Players = pd.DataFrame({"Total Players":player_count})
Total_Players

   Total Players
0            576

Purchasing Analysis (Total)

Number of Unique Items
Average Purchase Price
Total Number of Purchases
Total Revenue

In [20]:
#purchase analysis(total)
#Number of unique items

Unique_Items = [len((heros_raw_df["Item Name"]).unique())]
Unique_Items

#Total Revenue
total_purchases = [sum(heros_raw_df["Price"])]


#Total Number of Purchases
Purchase_count = [len(heros_raw_df["Price"])]


#Average Purchase Price
Ave_PPrice = [sum(heros_raw_df["Price"])/len(heros_raw_df["Price"])]

#create dataframe for output
Purchase_Analysis = pd.DataFrame({
                                "Num Unique Items": Unique_Items,
                                "Average Price": Ave_PPrice,
                                "Number of Purchases": Purchase_count,
                                "Total Revenue": total_purchases})
#Purchase_Analysis['Average Price'] = Purchase_Analysis['Average Price'].format("${:.2f}")
Purchase_Analysis

   Num Unique Items  Average Price  Number of Purchases  Total Revenue
0               179       3.050987                  780        2379.77

         Gender Demographics

Percentage and Count of Male Players

Percentage and Count of Female Players

Percentage and Count of Other / Non-Disclosed

In [27]:
#count unique SN who are female

Purchasing Analysis (Gender)

The below each broken by gender

Purchase Count
Average Purchase Price
Total Purchase Value
Average Purchase Total per Person by Gender

In [29]:
#Gender Demographics
#group dataframe by gender
Hero_Gender_group = heros_raw_df.groupby(["Gender"]).count()
Hero_Gender_group.head()

#Percentage and Count of Male Players
#Count_Males = (Hero_Gender_group["Gender"] == "Male")
#Count_Males.count()


#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [ ]:
#